@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- Your global tweaks below (optional) ---- */
html, body, #__next {
  height: 100%;
}

:root {
  --np-sidebar-width: 260px; /* example var used by your layout */
}

* {
  -webkit-tap-highlight-color: transparent;
}
